.section-title {
  margin: 0;
  display: flex;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--ui-text_color-font_main);
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.88px;
  font-weight: 400;
}

@media (max-width: 500px) {
  .section-title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.72px;
  }
}
