.infoTooltip {
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: 0;
  max-width: 360px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.infoTooltip:hover {
  opacity: 0.9;
}

.infoTooltip__text {
  margin: 20px auto 20px;
  max-width: 280px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.infoTooltip_type_correct {
  background-color: var(--ui-infoTooltip_background-color_correct);
}

.infoTooltip_type_error {
  background-color: var(--ui-infoTooltip_background-color_error);
}

.infoTooltip__close-button {
  padding: 0;
  outline: 0;
  border: 0;
  background-color: transparent;
  background-image: url(../../images/close-burger-menu-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .infoTooltip {
    max-width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }

  .infoTooltip__text {
    margin: 5px auto;
    font-size: 11px;
    line-height: 13px;
  }

  .infoTooltip__close-button {
    display: none;
  }
}
