.about-me {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 110px 70px 125px;
  box-sizing: border-box;
}

.about-me__content {
  display: flex;
  justify-content: space-between;
  margin: 66px 0 100px;
}

.about-me__text-сontainer {
  max-width: 600px;
}

.about-me__name {
  margin: 0 0 18px;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
}

.about-me__proffesion {
  margin: 0 0 26px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.about-me__description {
  margin: 0 0 100px;
  font-size: 14px;
  line-height: 22px;
}

.about-me__link {
  text-decoration: none;
  color: var(--ui-text_color-font_main);
}

.about-me__link:hover {
  opacity: 0.7;
}

.about-me__link_type_github {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.about-me__photo {
  display: flex;
  width: 270px;
  height: 327px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
}

@media (max-width: 1100px) {
  .about-me__text-сontainer {
    max-width: 500px;
  }
}

@media (max-width: 1000px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__text-сontainer {
    max-width: 450px;
  }
}

@media (max-width: 900px) {
  .about-me__text-сontainer {
    max-width: 400px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 87px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media (max-width: 800px) {
  .about-me__text-сontainer {
    max-width: 364px;
  }

  .about-me__name {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .about-me__proffesion {
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__content {
    margin: 66px 0 90px;
  }
}

@media (max-width: 750px) {
  .about-me__content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }

  .about-me__text-сontainer {
    max-width: 292px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
  }
}

@media (max-width: 400px) {
  .about-me {
    padding: 70px 14px;
  }

  .about-me__content {
    margin: 60px 0 70px;
  }

  .about-me__name {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1.2px;
  }

  .about-me__proffesion {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 40px;
  }
}
